package main

import (
	"log"

	"{{.ModulePath}}/internal/bootstrap"

	"github.com/joho/godotenv"
)

func main() {
	if err := godotenv.Load(); err != nil {
		log.Fatalf("Error loading .env file: %v", err)
	}

	if err := bootstrap.Start(); err != nil {
		log.Fatal(err)
	}
}
