package interceptors

import (
	"context"
	"sync/atomic"

	"google.golang.org/grpc"
)

var unaryCalls uint64

func MetricsUnaryServerInterceptor() grpc.UnaryServerInterceptor {
	return func(
		ctx context.Context,
		req any,
		info *grpc.UnaryServerInfo,
		handler grpc.UnaryHandler,
	) (any, error) {
		atomic.AddUint64(&unaryCalls, 1)
		return handler(ctx, req)
	}
}

func TotalUnaryCalls() uint64 {
	return atomic.LoadUint64(&unaryCalls)
}
