package handler

import (
	"time"

	"github.com/gofiber/fiber/v2"
)

type DefaultHandlerStruct struct {
}

func NewDefaultHandler() *DefaultHandlerStruct {
	return &DefaultHandlerStruct{}
}

func (h *DefaultHandlerStruct) Register(router fiber.Router) {
	router.Get("/", h.Default)
}

func (h *DefaultHandlerStruct) Default(c *fiber.Ctx) error {
	return c.JSON(APIResponse{
		Success: true,
		Message: "Success",
		Data:    time.Now().Format(time.RFC3339),
	})
}
